<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Southampton Solent University</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/form.css" />
  </head>
  <body>
    <!--main header-->
    <header id="main_heading">

    <!--Logo image for header-->
    <img
    src="../images/Logo-solent.svg.png"
    alt="Solent University Logo"
    height="50"
    />
      <h1>Welcome to Solent University</h1> 
    </header>

    <nav id="nvgtn">
      <!--created a navigaivagion bar using list functions and links to other pages-->
      <a class="nvgtntext" href="/">About</a>
      <a class="nvgtntext" href="/activites">Activities</a>
      <a class="nvgtntext" href="/Modules">Modules</a>
      <a class="nvgtntext" href="/form">Registration</a>
      <a class="nvgtntext" href="/database_import">Database Table</a>
    </nav>


    <hr>
    
    <!--page header-->
    <h2>Registration Form</h2>

    <br>
    <!-- Form start-->
    <form id="contactForm" action="form" method="POST">
      <!--First name-->
      <label for="name">Name*:</label><br />
      <input type="text" id="name" name="name" required /><br />

      <!--surname-->
      <label for="surname">Surname*:</label><br />
      <input type="text" id="surname" name="surname" required /><br />

      <!--mobile number-->
      <label for="mobilenumber">Mobile number*:</label><br />
      <input type="text" id="mobilenumber" name="mobilenumber" required /><br />

      <!--gender-->
      <label>Gender*:</label><br />
      <input type="radio" id="male" name="gender" value="male" required />
      <label for="male">Male</label><br />
      <input type="radio" id="female" name="gender" value="female" required />
      <label for="female">Female</label><br />
      <input type="radio" id="other" name="gender" value="other" required />
      <label for="other">other</label><br />

      <!--password-->
      <label for="password">Password*</label><br />
      <input type="password" id="password" name="password" required /> <br />

      <!--Confirm password-->
      <label for="confirm_password">Confirm Password*</label><br />
      <input type="password" id="confirm_password" name="confirm_password" required />
 <br  />

      <!--comments box-->
      <label for="comment">Comment:</label><br>
        <textarea id="comment" name="comment" rows="4" cols="50"></textarea><br>
<br>
<br>
      <!-- Submit button-->
      <button type="submit">Submit</button>     
    </form>

    

    <hr>
    <!--footer created for a div-->
<footer>
        <!-- three divs for layout-->
  <div class="page_footer">

      <!--div 1-->
      <div class="box1">
        <p>Contact</p>        
        <!-- VISITOR COUNT WOULD GO HERE-->
         <p>Visitor count: <span id="visitor-count">Loading...</span></p>
        <p><a href="5perek11@solent.ac.uk">5perek11@solent.ac.uk</a></p>


      </div>

      <!--div2-->
      <div class="box2">
        <p>About</p>
          <select id="language">
          <option value="en">English</option>
          <option value="es">Spanish</option>
          <option value="fr">French</option>
        </select>
      </div>

      <div class="box3">
        <P>Follow Us</P>
        <a href="https://www.facebook.com/SolentUniversity" class="fa fa-facebook"></a>
        <a href="https://twitter.com/SolentUni?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="fa fa-twitter"></a>
        <a href="https://www.linkedin.com/school/solentuni/" class="fa fa-linkedin"></a>
        <br>
        <br>
        <a href="https://www.instagram.com/solentuniversity/?hl=en" class="fa fa-instagram"></a>
        <a href="https://www.youtube.com/user/SolentUniOfficial" class="fa fa-youtube"></a>
        <a href="https://www.solent.ac.uk/" class="fa fa-google"></a>
      </div>
      </footer>  
 

       <!--javascript connection-->
      <script src="scripts/form.js"></script>
      <script src="scripts/footer.js"></script>
  
    </body>
</html>
