<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Southampton Solent University</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <!--main header-->
    <header id="main_heading">
    
    <!--Logo image for header-->
    <img
    src="../images/Logo-solent.svg.png"
    alt="Logo de l'Université de Solent"
    height="50"
    />
      <h1>Bienvenue à l'Université de Solent</h1> 
    </header>

    <nav id="nvgtn">
      <!--created a navigaivagion bar using list functions and links to other pages-->
      <a class="nvgtntext" href="/">About</a>
      <a class="nvgtntext" href="/activites">Activities</a>
      <a class="nvgtntext" href="/Modules">Modules</a>
      <a class="nvgtntext" href="/form">Registration</a>
      <a class="nvgtntext" href="/database_import">Records</a>
    </nav>


    <hr>

    <!--creates a section for three divs at the top of the page that contains three images-->
    <section>
      <div class="box">
        <img src="../images/profile1.jpg" alt="Image 1" height="150" />
        <h2>Activité 1</h2>
        <p>L'Institut de Southampton est devenu une 
          université le 12 juillet 2005, adoptant 
          le nom de l'Université de Southampton Solent 
          le 15 août de cette année-là.</p>
      </div>
      <div class="box">
        <img src="../images/ambitions.jpg" alt="Image 2" height="150" />
        <h2>Activité 2</h2>
        <p>Le TEF est un programme national géré par 
          l'Office for Students (OfS) qui vise à 
          encourager les fournisseurs d'enseignement 
          supérieur à offrir l'excellence dans les 
          domaines qui préoccupent le plus les étudiants 
          : l'enseignement, l'apprentissage et 
          l'obtention de résultats positifs de leurs études.</p>
      </div>
      <div class="box">
        <img src="../images/open day.jpg" alt="Image 3" height="150" />
        <h2>Activité 3</h2>
        <p>Pour garantir que tout le monde puisse 
          participer à une journée portes ouvertes
           à Solent, nous proposons à la fois des 
           événements sur le campus et virtuels. 
           Consultez ci-dessous les prochaines dates, 
           et si vous ne pouvez pas attendre, 
           nous proposons également une option 
           à la demande. Nous organisons également 
           des visites de campus en petits groupes.</p>
      </div>
    </section>

    <!--the second section of the body contains two divs one for text and the other for an image-->
    <section>
      <div class="left-text">
        <h2>À propos de l'Université de Solent</h2>
        <p>
         Nous nous concentrons sur le côté pratique 
         de l'enseignement supérieur - en donnant à 
         nos étudiants les connexions, l'expérience 
         et la confiance nécessaires pour transformer 
         leurs nouvelles connaissances en une carrière 
         ayant un impact réel et significatif. 
         Qui que vous soyez, quels que soient 
         vos objectifs, nous voulons vous aider 
         à laisser votre empreinte.
        </p>
      </div>
      <div class="right-image">
        <img src="../images/solent_university.jpeg" alt="Image sur" />
      </div>
    </section>

    <hr>
    <!--footer created for in a div-->
<footer>
        <!-- three divs for layout-->
  <div class="page_footer">

      <!--div 1-->
      <div class="box1">
        <p>Contact</p>       
         <!-- VISITOR COUNT WOULD GO HERE-->
        <p>Compteur de visiteurs : <span id="visitor-count">Chargement...</span></p>
        <p><a href="5perek11@solent.ac.uk">5perek11@solent.ac.uk</a></p>


      </div>

      <!--div2-->
      <div class="box2">
        <p>À propos</p>
          <select id="language">
            <option value="fr">Français</option>
          <option value="en">Anglais</option>
          <option value="es">Espagnol</option>
        </select>
      </div>

      <!--div3-->
      <div class="box3">
        <P>Follow Us</P>
        <a href="https://www.facebook.com/SolentUniversity" class="fa fa-facebook"></a>
        <a href="https://twitter.com/SolentUni?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="fa fa-twitter"></a>
        <a href="https://www.linkedin.com/school/solentuni/" class="fa fa-linkedin"></a>
        <br>
        <br>
        <a href="https://www.instagram.com/solentuniversity/?hl=en" class="fa fa-instagram"></a>
        <a href="https://www.youtube.com/user/SolentUniOfficial" class="fa fa-youtube"></a>
        <a href="https://www.solent.ac.uk/" class="fa fa-google"></a>
      </div>
        
      </footer>
    </div>
    <!--javascript connection-->
    <script src="scripts/footer.js"></script>
  </body>
      
</html>
