<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Southampton Solent University</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <!--main header-->
    <header id="main_heading">

    <!--Logo image for header-->
    <img
    src="../images/Logo-solent.svg.png"
    alt="Logo de la Universidad de Solent"
    height="50"
    />
      <h1>Bienvenido a la Universidad de Solent</h1> 
    </header>

     <nav id="nvgtn">
      <!--created a navigaivagion bar using list functions and links to other pages-->
      <a class="nvgtntext" href="/">About</a>
      <a class="nvgtntext" href="/activites">Activities</a>
      <a class="nvgtntext" href="/Modules">Modules</a>
      <a class="nvgtntext" href="/form">Registration</a>
    </nav>
    <hr>

    <!--creates a section for three divs at the top of the page that contains three images-->
    <section>
      <div class="box">
        <img src="../images/profile1.jpg" alt="Imagen 1" height="150" />
        <h2>Actividad 1</h2>
        <p>
        El Instituto de Southampton se convirtió en 
        universidad el 12 de julio de 2005, 
        adoptando el nombre de Universidad de 
        Southampton Solent el 15 de agosto de ese 
        año.</p>
      </div>
      <div class="box">
        <img src="../images/ambitions.jpg" alt="Imagen 2" height="150" />
        <h2>Actividad 2</h2>
        <p>El TEF es un esquema nacional administrado por 
          la Oficina de Estudiantes (OfS) que tiene 
          como objetivo fomentar que los proveedores 
          de educación superior ofrezcan excelencia en 
          las áreas que más preocupan a los estudiantes:
           enseñanza, aprendizaje y logro de resultados 
           positivos en sus estudios.</p>
      </div>
      <div class="box">
        <img src="../images/open day.jpg" alt="Imagen 3" height="150" />
        <h2>Actividad 3</h2>
        <p>Para asegurarnos de que todos puedan asistir a 
          un día de puertas abiertas de Solent, ofrecemos 
          eventos tanto en el campus como virtuales. 
          Consulta a continuación las próximas fechas, 
          y si no puedes esperar, también ofrecemos una 
          opción bajo demanda. También estamos realizando 
          recorridos por el campus en grupos pequeños.</p>
      </div>
    </section>

    <!--the second section of the body contains two divs one for text and the other for an image-->
    <section>
      <div class="left-text">
        <h2>Sobre la Universidad de Solent</h2>
        <p>
          Estamos enfocados en el lado práctico de 
          la educación superior, brindando a nuestros
          estudiantes las conexiones, experiencia y 
          confianza para convertir sus nuevos 
          conocimientos en una carrera con un 
          impacto real y significativo. 
          Sea quien sea, cualquiera que sean tus 
          metas, queremos ayudarte a dejar tu huella.
        </p>
      </div>
      <div class="right-image">
        <img src="../images/solent_university.jpeg" alt="Imagen sobre" />
      </div>
    </section>

    <hr>
    <!--footer created for in a div-->
<footer>
        <!-- three divs for layout-->
  <div class="page_footer">

      <!--div 1-->
      <div class="box1">
        <p>Contacto</p>      
        <!-- VISITOR COUNT WOULD GO HERE-->
        <p>Contador de visitas: <span id="visitor-count">Cargando...</span></p>
        <p><a href="5perek11@solent.ac.uk">5perek11@solent.ac.uk</a></p>

  
      </div>

      <!--div2-->
      <div class="box2">
        <p>Acerca de</p>
          <select id="language">
          <option value="es">Español</option>
          <option value="en">Inglés</option>
          <option value="fr">Francés</option>
        </select>
      </div>

      <!--div3-->
      <div class="box3">
        <P>Follow Us</P>
        <a href="https://www.facebook.com/SolentUniversity" class="fa fa-facebook"></a>
        <a href="https://twitter.com/SolentUni?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="fa fa-twitter"></a>
        <a href="https://www.linkedin.com/school/solentuni/" class="fa fa-linkedin"></a>
        <br>
        <br>
        <a href="https://www.instagram.com/solentuniversity/?hl=en" class="fa fa-instagram"></a>
        <a href="https://www.youtube.com/user/SolentUniOfficial" class="fa fa-youtube"></a>
        <a href="https://www.solent.ac.uk/" class="fa fa-google"></a>
      </div>
        
      </footer>
    </div>
    <!--javascript connection-->
    <script src="scripts/footer.js"></script>
  </body>
      
</html>
